S3_ACCESS_KEY="<access key>"
S3_SECRET_ACCESS_KEY="<secret access key>"
S3_RAW_ENDPOINT="<raw endpoint>"
S3_CONVERTED_BUCKET_NAME="<bucket name>"
S3_CHUNKED_BUCKET_NAME="<bucket name>"
S3_REGION="<region>"
CHUNK_LENGTH_SECONDS=10